
<div class="banner_container">
	<img class="banner_pic" src="https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xfp1/v/l/t1.0-9/11692659_547776502043214_2366998275035962680_n.jpg?oh=96e2f234b6c0ee123a309be5933401f0&amp;oe=565B9691" alt="11692659 547776502043214 2366998275035962680 n">
	<div class="banner_overlay">
		<p class="trip_name">Something</p>
						<a class="full_album_link">See Full Album</a>

	</div>
</div>
<div class="blog_container">

		<p class="trip_text">On July 5th Asher picked Aaron up from O'Hare airport and Nate up from Starbucks airport, we had all arrived in Chicago. With some help from Ken Perlmutter we assessed the gear everyone had bought and headed to our first trip at REI. Aaron got some new hiking boots, about half of the rest of the necessary gear, and Nate got a lovely gray rain jacket with a wonderful pink trim. We headed home for a barbecue with the family and a visit from the one and only Greg Nelson, and quickly went to sleep. 5 am, we were up, packing and by 5:30 departing Chicago.</p>

		<p class="trip_text">As you know, this is when we conceived the idea for this blog. After thirteen hours on the road, of which Asher casually handled 11 hours of driving, we had arrived in Boulder. Unfortunately, Asher didn't approve of the tent we had purchased, so back to REI we go. In the parking lot, Aaron had this weird feeling his boots weren't in the car, a call to Ken, and, yup, he left his boots in Chicago - new day, new boots, good thing he spent the night breaking them in.</p>

		<p class="trip_text">But eventually, all the gear was assembled and it was time to pack our backpacks for good. A checklist was made, clothes were folded, bear canisters were filled, straps were adjusted, and all was well.&nbsp;&nbsp;Once finished, we diddled daddled around Boulder for a little bit before starting the drive to our first trail, Four Pass Loop!</p>

		<p class="trip_text">The drive to Aspen was incredibly scenic, even if Aaron was asleep for most of it. The road followed the natural valleys between ever bigger mountains. The snow covered peaks poked into the rolling fog and were an intimidating but welcoming preview of the trail ahead of us. </p>

</div>

<a href="Full Album">


</a><div class="button_container"><a href="Full Album">
		</a><a class="trip_button" href="/trips/4?num=1">Previous Trip</a>
		<a class="trip_button" href="/trips/8">View Full Album</a>

