<p class="page_title">/Welcome To The Blog Of All Blogs</p>
<p class="page_paragraph">Hello you peoples! We the people (Asher, Aaron, and Nate) have begun our epic backpacking trip out west. Initially it was intended to be a small break from our nerdy lives where we could enjoy the peace and quiet of nature. But when we found out about Asher's quad-charging, wifi capable car, we knew the fates had other things in store. So we spent the first 14 hour drive to Colorado creating this blog! That's right kids, our camping trip became the ultimate hackathon. We hope you follow our adventures and watch as our baby site grows in functionality and beauty. </p>

<p class="page_title">/Our Trip So Far</p>
