<p class="page_title">Welcome To Our Blog</p>
<p class="page_paragraph">This is a site to document our travels blah blah blah</p>

<p class="page_title">Our Trip So Far</p>

<!-- 
<div id="photos" style="height: 500px; overflow: scroll;">
	<iframe src="http://embedsocial.com/facebook_album/album_photos/547391092081755" width="100%" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>
</div>
<iframe src="http://embedsocial.com/facebook_album/album_photos/547382955415902" width="auto" height="1450" frameborder="0" scrolling="no" marginheight="0"  marginwidth="0"></iframe>
-->

<div class="fb-album-container"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".fb-album-container").FacebookAlbumBrowser({
            account: "Nerdswithoutwifi",
            accessToken: "385699948306043|VDKalznZc7EleqckGeaUVKo4-Cg",
            skipAlbums: ["Profile Pictures", "Timeline Photos"],
            showAccountInfo: true,
            showImageCount: true,
            showImageText: true,
            lightbox: true,
            photosCheckbox: false,
            likeButton: true,
            photoChecked: function(photo){
                console.log("PHOTO CHECKED: " + photo.id + " - " + photo.url + " - " + photo.thumb);
                console.log("CHECKED PHOTOS COUNT: " + this.checkedPhotos.length);
            },
            photoUnchecked: function (photo) {
                console.log("PHOTO UNCHECKED: " + photo.id + " - " + photo.url + " - " + photo.thumb);
                console.log("CHECKED PHOTOS COUNT: " + this.checkedPhotos.length);
            },
            albumSelected: function (photo) {
                console.log("ALBUM CLICK: " + photo.id + " - " + photo.url + " - " + photo.thumb);
            },
            photoSelected: function (photo) {
                console.log("PHOTO CLICK: " + photo.id + " - " + photo.url + " - " + photo.thumb);
            }
        });
    });
</script>