/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p, a, div {
	font-family: avenir;
}
.right_column {
	height: 100vh;
	float: right;
	width: calc(100% - 235px); /*220px + padding-right*/
	padding-right: 15px; 
}

.left_column {
	width: 220px;
  height: 100vh;
  background-color: red;
  padding-top: 1px;
  float: left;
  background-image: asset-data-url("pentagon.png");
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.18);
  /* z-index: 5; */
  position: relative;
}

.left_column_trip_name {
	display: block;
	color: rgb(102, 83, 83);
  margin-top: 2px;
  font-size: 18px;
  margin-left: 13px;
  transition: color .3s;
  text-decoration: none;
}

.selected {
	color: rgb(252, 145, 4) !important;
	margin-left: 20px;
}

.left_column_trip_name:not(.selected):hover {
	/*color: rgb(54, 113, 155);
	cursor: pointer;*/
}

.left_column_pic {
  width: 95%;
  margin-left: 2%;
  transform: rotate(90deg);
  border-radius: 3px;
  padding: 5px;
  background-color: rgb(147, 192, 161);
  margin-bottom: 15px;
}

.left_column_title {
  color: rgb(187, 64, 64);
  font-family: avenir;
  /* font-style: oblique; */
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 40px;
}

.top_column {
	height: 0px;
	width: 100%;
	background-color: rgb(250, 250, 250);
}

.bottom_column {
	width: calc(100% - 50px);
	height: calc(100% - 0px);
		padding-left: 50px;
	padding-top: 0px;
		background-color: rgb(250, 250, 250);
		overflow: scroll

}

.page_title {
	font-size: 35px;
	margin-top: 45px;
	color: rgb(142, 35, 35);
}

.page_paragraph {
font-size: 18px;
  margin-top: 10px;
  color: #665353;
  line-height: 33px;
  max-width: 750px;

}

.orange_box {

/*
  display: inline-block;
  height: 28px;
  width: 4px;
  color: orange;
  background-color: orange;
  margin-left: 10px;
  margin-right: -10px;
  margin-bottom: -8px;
}

*/
	  /* display: inline-block; */
  background-color: blue;
  /* width: 5px; */
  /* height: 100%; */
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 5px;
  	background-color: rgb(252, 145, 4) !important;
  	border-radius: 2px;
}

.park_name {
	  font-size: 13px;
  margin-top: 3px;
  color: rgb(145, 145, 145);
  font-style: italic;
}

.right {
	display: inline-block;
}

.trip_name_container {
	position: relative;
	margin-top: 10px;
}

.trip_name_container:hover .left_column_trip_name:not(.selected) {
	color: rgb(54, 113, 155);
	cursor: pointer;
}

.home_link {
	  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: rgb(144, 29, 144);
    margin-top: 26px;
  margin-bottom: 42px;
  transition: color .3s;
}

.home_link:hover {
	color: #661566;
}  
