// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banner_container {
		  width: 70%;
		  position: relative;
		  margin-top: 40px;
}

.banner_overlay {
	  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.74);
}
.banner_pic {
	width: 100%;
	height: 100%;
}

.trip_text {
	  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  margin-right: 40px;
    margin-bottom: 30px;
}

.banner_trip_name {
font-family: avenir;
  color: rgb(131, 209, 219);
  line-height: 71px;
  font-size: 33px;
  display: inline-block;
  /* float: left; */
  font-style: italic;
  margin-left: 30px;
  transition: color .3s;
  clear: both;
}

.banner_park_name {
  font-family: avenir;
  color: white;
  /* line-height: 86px; */
  font-size: 18px;
  /* display: inline-block; */
  /* float: left; */
  font-style: italic;
  margin-left: 30px;
  transition: color .3s;
  /* clear: left; */
  margin-top: -10px;
}

.full_album_link {
  font-family: avenir;
  color: white;
  line-height: 90px;
  font-size: 16px;
  display: inline-block;
  font-style: italic;
  margin-right: 30px;
  transition: color .3s;
}

.full_album_link:hover {
	color: rgb(131, 209, 219);
	cursor: pointer;
	}

.trip_button {
	border: 1px solid black;
  width: 150px;
  height: 150px;
  border-radius: 75px;
  line-height: 150px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: gray;
  border-color: gray;
  transition: color .3s, background-color .3s, border-color .3s;
  float: left;
  margin-left: 50px;
}

.trip_button:hover {
	color: white;
  border-color: rgb(224, 74, 74);
  background-color: rgb(224, 74, 74);
}

.button_container {
  overflow: auto;
	margin-bottom: 50px;  
	  border-top: 1px solid rgb(215, 215, 215);
  width: 650px;
  padding-top: 33px;
  clear: both;
    margin-top: 50px;
}

.left_image, .right_image {
	width: 45%;
}

.left_image {
  float: left;
  margin-right: 20px;
}

.right_image {
  float: right;
  margin-left: 20px;
}

.blog_container {
	overflow: auto;
  max-width: 750px;
  padding-top: 40px;
}

.full_image {
	width: 70%;
}

p.trip_title {
  font-size: 30px;
  color: rgb(142, 35, 35);
}

.banner_overlay_left {
  float: left;
}

.banner_overlay_right {
  float: right;
}